.review {
  border: 0.2px solid rgb(236, 233, 233);
  border-radius: 10px;
  font-size: 2.4rem;
  margin-bottom: 0.5em;
  padding: 1em 2em;
  color: rgb(170, 168, 168);
}
.author {
  display: flex;
  justify-content: flex-end;
}
.reviewText {
  margin-bottom: 1em;
}
@media (max-width: 490px) {
  .review {
    padding: 0.5em 1em;
  }

  .reviewText {
    margin-bottom: 0.5em;
  }
}
