.projects {
  height: 100vh;
  background: linear-gradient(#295e94df, #3e85b4),
    url("https://img.freepik.com/free-vector/blue-futuristic-networking-technology_53876-97395.jpg?size=626&ext=jpg&uid=R51588073&semt=sph");

  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 10rem 0;
}
.header {
  width: 100%;
  text-align: center;
  margin-bottom: 50em;
}
.header h2 {
  font-size: 4.8rem;
  margin-bottom: 0.2em;
}
.header p {
  font-size: 1.8rem;
  color: rgb(255, 251, 244);
  max-width: 60%;
  text-align: center;
  margin: 0 auto;
}
.projectHeader {
  font-size: 3.2rem;
  text-align: center;
  color: white;
  max-width: 100%;
}
.projectWrapper {
  display: flex;
  gap: 2em;
  align-items: center;
}
.cardsWrapper {
  max-width: 60%;
  display: flex;
  padding: 50em;
  align-items: stretch;
  justify-content: end;
  margin: 0 auto;

  gap: 100em;
}
@media (max-width: 950px) {
  .cardsWrapper {
    display: flex;
    flex-direction: column;
    max-width: 90%;
  }
  .projects {
    height: max-content;
  }
  .projectHeader {
    margin-bottom: 2em;
  }
}
@media (max-width: 590px) {
  .cardsWrapper {
    display: flex;
    flex-direction: column;
    max-width: 90%;
  }
  .projects {
    height: max-content;
  }
  .projectHeader {
    margin-bottom: 2em;
  }
}
